<div class="tab-pane fade <%= 'show active' if tab_id == 'all-jobs' %>" id="<%= tab_id %>" role="tabpanel" aria-labelledby="<%= tab_id %>-tab">
  <div class="row row-cols-1 row-cols-md-4 g-4 m-2">
    <%= render 'job_cards', jobs: jobs %>
  </div>
</div>
