<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= purchased_course.completed_status %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: <%= purchased_course.completed_status %>%"><%= purchased_course.completed_status %>%</div>
</div>
