<div class="content-header p-3">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= content_header %></h1>
      </div>
      <% if path.present? %>
        <div class="col-sm-6 text-end">
          <%= link_to path, class:"btn btn-primary btn-sm" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
