<div data-controller='toast'>
  <% flash.each do |f| %>
    <% toast_class = f[0].to_s.gsub('alert', 'danger').gsub('notice', 'success') %>
    <div class="alert alert-<%= toast_class %>  fade show" role="alert">
      <%= f[1] %>
    </div>
  <% end %>
</div>
